body {
    overflow: auto;
}

.list-header ul,
#img-code-0 {
    position: relative;
}

.img-placement {
    display: grid;
}

#img-code-0 {
    width: 90px;
    height: 90px;
    transition: ease all .75s;
}

#img-code-0:hover {
    width: auto;
    height: auto;
    scale: all ease .75s;
}