body {
    background-color: hsl(15, 9%, 17%);
    box-sizing: border-box;
}

img {
    width: 90px;
    height: 90px;
}

.nav {
	margin: auto 0;
}

/* START MAIN SECTION INTRO */

.intro {
    position: relative;
    top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max-content;
    border: 2px solid white;
    width: 100%;
    background-color: hsl(15, 9%, 21%);
    color: wheat;
}

.intro h2 {
    text-decoration: underline;
}


/* END MAIN SECTION INTRO */


/* START FOOTER SECTION INTRO */

.footer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    width: 100%;
    background-color: hsl(15, 9%, 21%);
    color: wheat;
    bottom: 0px;
}


/* END FOOTER SECTION INTRO */